POSTGRES_USER=movie_admin
POSTGRES_PASSWORD=very_strong_password
POSTGRES_DB=movie_booking_db
JWT_SECRET_KEY=iKM7XJ-c6Ji-MjY4w5XBx1Rmupe5wVhMvUGVG7l3glYEIiJXyx_YR4SIOLFlBWk-
ALLOWED_ORIGINS=https://your-frontend-domain.com
NEXT_PUBLIC_API_URL=https://your-backend-domain.com